/**Product-area**/
.product-isotope-btn {
	margin-bottom: 46px;
	.button {
		background: transparent;
		border: 0;
		cursor: pointer;
		position: relative;
		font-size: 16px;
		font-family: var(--body-font);
		color: #626262;
		margin-right: 14px;
		&:after {
			content: "/";
			position: absolute;
			right: -13px;
			top: 0;
		}
		&.mr-0 {
			&:after {
				display: none;
			}
		}
	}
}
.product-isotope-btn-2 {
	position: relative;
	margin-bottom: 40px;
	.button {
		height: 50px;
		line-height: 50px;
		border: 1px solid #ECEBEB;
		background: #ffffff;
		padding: 0 32px;
		margin-right: 6px;
		transition: $transition;
		&:after {
			display: none;
		}
		&:hover {
			background: var(--heading-color);
			color: #ffffff;
		}
	}
	.nice-select {
		position: absolute;
	    right: 0;
	    top: 0;
	    height: 50px;
	    line-height: 50px;
	    background: #FAFAFA;
	    border: 1px solid #E1E1E1;
	    border-radius: 0;
	    font-size: 16px;
	    font-weight: 400;
	    font-family: var(--body-font);
	    color: #626262;
	    width: 180px; 
	    &:after {
	    	border-bottom: 2px solid #626262;
    		border-right: 2px solid #626262;
	    	height: 7px;
	    	width: 7px;
	    	right: 24px;
	    }
	    .list {
	    	border-radius: 0;
	    	width: 100%;
	    }
	}
}
.product-single-wrap {
	margin-bottom: 50px;
	&:hover {
		.thumb ul {
			opacity: 1;
			left: 0;
		}
		.product-details .product-cart-btn {
			opacity: 1;
			right: 8px;
		}
	}
	.thumb {
		position: relative;
		ul {
			padding: 0;
			display: inline-block;
			margin: 0;
			position: absolute;
		    left: -5px;
		    top: 50%;
		    margin-top: -69.5px;
		    opacity: 0;
		    transition: $transition;
			li {
				list-style: none;
				margin-bottom: 9px;
				&:last-child {
					margin-bottom: 0;
				}
				a {
					height: 28px;
					line-height: 29px;
					width: 28px;
					text-align: center;
					display: inline-block;
					background: #DDDDDD;
					color: #ffffff;
					&:hover {
						background: #000000;
					}
				}
			}
		}
	}
	.product-details {
		border-bottom: 1px solid #F8F8F8;
		position: relative;
		padding-bottom: 2px;
		padding-top: 16px;
		h6 {
			font-weight: 500;
			margin-bottom: 4px;
		}
		p {
			font-size: 16px;
			font-weight: 400;
			font-family: var(--heading-font);
			del {
				margin-right: 17px;
			}			
		}
		.product-cart-btn {
			position: absolute;
			right: 0px;
			bottom: 12px;
			opacity: 0;
			transition: $transition;
		}
	}
}
/**offer-area**/
.offer-wrap {
	h2 {
		font-weight: 600;
		margin-bottom: 17px;
		span {
			font-style: italic;
			font-weight: 400;
		}
	}
	p {
		margin-bottom: 29px;
	}
	a {
		font-family: var(--heading-font);
		font-size: 16px;
		color: #292929;
		letter-spacing: 2px;
	}
}
/**product-slider**/
.product-slider {
	.product-single-wrap .product-details .product-cart-btn {
		opacity: 1;
		right: 8px;
	}
}
.product-slider-2 {
	.product-single-wrap {
		margin-bottom: 0;
	}
	.owl-nav {
		top: auto;
	    right: 50%;
	    margin-right: -50px;
	    margin-top: 40px;
	}
}
/***single-service-area***/
.service-area {
	.offer-wrap {
		margin-bottom: 43px;
	}
}
.single-service-wrap {
	background: #ffffff;
	padding: 20px;
	margin-bottom: 30px;
	.media {
		align-items: center;
		.thumb {
			width: 70px;
			height: 60px;
			border: 1px solid #E1E1E1;
			border-radius: 5px;
			line-height: 55px;
			text-align: center;
			margin-right: 15px;
		}
		.media-body {
			h6 {
				margin-bottom: 3px;
			}
			p {
				color: var(--heading-color);
				margin-bottom: 0;
			}
		}
	}
}
/**discount-area**/
.single-discount-wrap {
	background: #ffffff;
	margin-bottom: 30px;
	position: relative;
	&:hover {
		.hover-wrap-details {
			opacity: 1;
		}
	}
	.wrap-details {
		border: 1px solid #E8E8E8;
		border-top: 0;
		position: relative;
		padding: 22px 20px 4px;
		&:after {
			content:'';
			position: absolute;
			height: 1px;
			width: 100%;
			background: #F8F8F8;
			top: 50%;
			margin-top: 3px;
			left: 0;
		}
		h6 {
			font-weight: 500;
			margin-bottom: 37px;
		}
		p {
			color: #636363;
			del {
				margin-right: 27px;
			}
		}
		.product-cart-btn {
			position: absolute;
			opacity: 1;
    		right: 13px;
    		bottom: 15px;
		    transition: all 0.4s ease-in;
		}
	}
	.hover-wrap-details {
		border: 1px solid #E1E1E1;
		padding: 60px 41px 56px;
		background: #ffffff;
		position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    opacity: 0;
	    transition: $transition;
		h6 {
			color: var(--main-color);
			margin-bottom: 10px;
		}
		h2 {
			font-family: $font-playfair;
			color: #363636;
			margin-bottom: 17px;
		}
		h4 {
			color: #363636;
			margin-bottom: 17px;
		}
		p {
			margin-bottom: 24px;
		}
		a {
			color: #363636;
			font-family: var(--heading-font);
		}
	}
}
/**blog-area**/
.single-blog-wrap {
	margin-bottom: 30px;
	.thumb {
		overflow: hidden;
		img {
			transition: $transition;
			width: 100%;
		}
	}
	&:hover {
		.thumb {
			img {
				transform: scale(1.2);
			}
		}
	}
	.blog-wrap-details {
		border-bottom: 1px solid #F8F8F8;
		padding: 27px 0 13px;
		h6 {
			color: #000000;
			font-size: 20px;
			font-weight: 500;
			font-family: var(--heading-font);
			margin-bottom: 17px;
		}
		p {
			margin-bottom: 10px;
		}
		span {
			color: #B0B0B0;
			font-size: 12px;
			font-family: var(--heading-font);
			margin-right: 16px;
			a {

			}
		}
	}
}
.subscribe-area {
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: cover !important;
}
.subscribe-wrap {
	background: #ffffff;
	padding: 76px 0;
	border: 1px solid #E1E1E1;
	.single-subscribe-wrap {
		position: relative;
		input {
			height: 60px;
			border: 1px solid #E1E1E1;
			border-radius: 30px;
			width: 100%;
			color: #838383;
			font-size: 16px;
			padding: 0 320px 0 50px;
			font-family: var(--heading-font);
			position: relative;
			&::placeholder {
				color: #838383;
			}
		}
		.btn {
			height: 60px;
			line-height: 62px;
			border-radius: 30px;
			padding: 0 41px;
			position: absolute;
			right: 0;
		}
	}
}
.discover-product-area {
	position: relative;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/product/discover-bg.png);
    margin-top: -46px;
    z-index: 2;
	&:after {
		content: "";
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    z-index: -1;
	}
	.section-title {
		h3 {
			font-weight: 600;
			position: relative;
			padding-bottom: 19px;
    		margin-bottom: 59px;
			&:after {
				content: "";
			    position: absolute;
			    height: 1px;
			    width: 98px;
			    background: #ffffff;
			    left: 0;
			    bottom: 0;
			    left: 50%;
    			margin-left: -49px;
			}
		}
	}
	.discover-product-inner {
		padding: 0;
		margin: 0;
		.discover-product-wrap {
			list-style: none;
			display: inline-block;
			width: 17.5%;
    		margin: 0 15px;
    		margin-bottom: 30px;
    		&:first-child {
    			margin-left: 0;
    		}
    		&:last-child {
    			margin-right: 0;
    		}
			a {
				background: #ffffff;
				display: inline-block;
				text-align: center;
				width: 100%;
				&:hover {
					h6 {
						color: var(--main-color);
					}
				}
				h6 {
					font-size: 16px;
    				font-weight: 500;
    				margin-bottom: 25px;
    				transition: $transition;
				}
			}
		}
	}
}
.partner-slider {
	.owl-nav {
		position: initial;
		button {
			background: transparent;
			border: 0;
			color: #292929;
			position: absolute;
			top: 50%;
			margin: 0;
			padding: 0;
			margin-top: -20px;
			&.owl-prev {
				left: -46px;
			}
			&.owl-next {
				right: -46px;
			}
		}
	}
}
.recent-product-area {
	.title {
		font-weight: 600;
		margin-bottom: 37px;
	}
}
.product-details-area {
	.single-thumbnail-slider-2 {
		.slider-item {
			background: #FAFAFA;
			padding: 30px;
		}
	}
	.product-thumbnail-carousel-2 {
		.slick-slide {
		  margin: 0 5px;
		}
		.slick-list {
		  margin: 0px -5px 0px -5px;
		}
		.single-thumbnail-item {
			img {
				margin-right: 6px;
			}
		}
		.slick-arrow {
			font-size: 16px;
			color: var(--heading-color);
			z-index: 9;
			&.slick-prev {
				left: 10px;
			}
			&.slick-next {
				position: absolute;
				right: -5px;
			}
		}
	}
	.product-item-details {
		.entry-title {
			font-weight: 500;
			margin-bottom: 13px;
		}
		p {
			border-bottom: 1px solid #ECEBEB;
			padding-bottom: 23px;
    		margin-bottom: 22px;
		}
		.price {
			font-size: 24px;
			font-weight: 600;
			color: var(--heading-color);
			font-family: var(--heading-font);
			padding: 15px 0;
		}
		form {
			.btn-black {
				height: 44px;
				line-height: 44px;
				margin-top: -2px;
				margin-left: 16px;
			}
		}
		.btn-border {
			height: 44px;
			line-height: 44px;
			padding: 0 37px 0 22px;
			font-family: var(--body-font);
			margin-bottom: 26px;
			i {
				margin-right: 12px;
				color: #636363;
				transition: $transition;
			}
			&:hover {
				i {
					color: #ffffff;
				}
			}
		}
	}
}
.color-variation {
	margin: 0;
	list-style: none;
	padding: 25px 0;
	li {
		display: inline-block;
		margin-right: 3px;
		&:last-child {
			margin-left: 35px;
		}
		a {
			display: block;
		}
		span {
			height: 18px;
			width: 18px;
			border-radius: 50%;
			display: inline-block;
			margin-bottom: -4px;
			&.pink {
				background: #FA3150;
			}
			&.yellow {
				background: #F9C936;
			}
			&.ash {
				background: #92B8B9;
			}
		}
	}
}
.product-details-tabs {
	border-bottom: 1px solid #ECEBEB;
	padding-bottom: 34px;
    margin-bottom: 42px;
	.nav-tabs {
		border: 0;
		margin-bottom: 39px;
		.nav-item {
			width: 25%;
			text-align: center;
			.nav-link {
				border-radius: 0;
				border: 1px solid #E1E1E1;
				border-right: 0;
				&.active {
					background: #292929;
					color: #ffffff;
				}
			}
			&:last-child {
				.nav-link {
					border-right: 1px solid #E1E1E1;
				}
			}
		}		
	}
	.specific-tab {
		.tab-pane {
			.title {
				color: #363636;
				font-weight: 600;
				margin-bottom: 13px;
			}
			p {

			}
			.thumb {
				margin-top: 6px;
			}
		}
		.review-tab {
			.add-review {
				margin-bottom: 15px;
				.star-rating {
					margin-bottom: 30px;
				}
			}
		}
		.delivery-tab {
			.thumb {
				background: #F8F8F8;
				padding: 10px;
			}
		}
	}
}
.contact-info-inner {
	border: 1px solid #FAFAFA;
	box-shadow: 0 0 30px #F8F8F8;
	padding: 51px 60px 21px;
	h4 {
		font-weight: 600;
		margin-bottom: 32px;
	}
	.single-contact-wrap {
		margin-bottom: 30px;
		.icon {
			width: 80px;
			height: 80px;
			border-radius: 50%;
			background: #FAFAFA;
			display: inline-block;
			font-size: 30px;
			text-align: center;
			line-height: 82px;
			color: #000000;
			margin-bottom: 15px;
			i {

			}
		}
		span {
			color: #292929;
			font-size: 24px;
			font-weight: 600;
			margin-right: 15px;
		}
		p {
			color: #292929;
			font-size: 18px;
			margin-bottom: 0;
		}
	}
}
.contact-area {
	.contact-form {
		border: 1px solid #FAFAFA;
		box-shadow: 0 0 30px #F8F8F8;
		padding: 39px 40px 50px;
		h6 {
			color: #636363;
			font-size: 16px;
			font-weight: 400;
			position: relative;
			font-family: var(--body-font);
			margin-bottom: 32px;
			&:after {
				content:'';
				position: absolute;
				height: 1px;
				width: 60px;
				background: #C4C4C4;
				left: 0;
				bottom: -7px;
			}
		}
		.single-textarea-wrap {
			margin-bottom: 6px;
		}
		.single-checkbox {
			margin-bottom: 26px;
			span {
				font-size: 14px;
				color: #636363;
				margin-left: 7px;
			}
		}
		.btn-black {
			height: 50px;
			line-height: 50px;
			padding: 0 45px;
		}
	}
}
.contact-map {
	iframe {
		width: 100%;
		height: 825px;
		margin-bottom: -8px;
	}
}
.cart-area {
	.table {
		border-bottom: 1px solid #dee2e6;
		margin-bottom: 30px;
		thead {
			th {
				border-bottom: 0;
				text-align: center;
			}
		}
		tbody {
			th {
				text-align: center;
				img {
					width: 100px;
				}
			}
			td {
				font-family: var(--heading-font);
			}
			.price {
				text-align: center;
			}
			.table-quantity {
				text-align: center;
			}
		}
	}
	.table td, .table th {
		vertical-align: middle;
	}
	input.code-input {
		border: 1px dotted #BBB4AE;
	    padding: 0 15px;
	    height: 47px;
	    font-family: var(--heading-font);
	    margin-right: 0px;
	}
	.table-btn {
		.btn-black {
			margin-top: -3px;
			margin-left: -4px;
		}
	}
	.order-summary {
		border: 1px solid #FAFAFA;
    	box-shadow: 0 0 30px #F8F8F8;
    	margin-top: 50px;
    	padding: 34px 40px 40px;
    	.title {
    		font-weight: 600;
    		margin-bottom: 17px;
    	}
    	.subtotal {
    		font-family: var(--heading-font);
    		margin-bottom: 10px;
    	}
    	.total {
    		border-top: 1px solid #ECEBEB;
    		padding: 15px 0 21px;
    	}
	}
}
.checkout-inner {
	border: 1px solid #FAFAFA;
    box-shadow: 0 0 30px #F8F8F8;
    background: #ffffff;
    padding: 39px 40px 40px;
    .payment-wrap {
    	margin-top: 20px;
    	margin-bottom: 10px;
    	.payment-option {
	    	position: relative;
		    padding: 8px 0 8px 30px;
		    font-size: 15px;
		    font-weight: 500;
		    input {
			    position: absolute;
			    opacity: 0;
			    height: 0;
			    width: 0;
			}
			.checkmark {
			    position: absolute;
			    top: 50%;
			    left: 0px;
			    margin-top: -9px;
			    height: 18px;
			    width: 18px;
			    cursor: pointer;
			    background: #fff;
			    border: 4px solid #ededed;
			    border-radius: 50%;
			}
			input:checked ~ .checkmark {
			    border: 4px solid var(--heading-color);
			}
	    }
    }
    .btn-black {
    	margin-top: 10px;
    }
}