.product-details {
  display: flex;
  flex-wrap: wrap;



  .description-buttons {
    margin-top: 4rem;

    button {
      font-size: 0.9rem;
      text-transform: uppercase;
      padding: 0.6rem 4.9rem;
      border: none;
      outline: 1px solid rgb(220, 217, 217);
      background-color: white;
      cursor: pointer;
    }
    .description-container {
      display: flex;
      height: 40vh;
    }
    h2 {
      font-size: 1.2rem;
      margin-top: 5rem;
    }
    p {
      font-size: 1rem;
      margin-top: 3rem;
      width: 70%;
    }
    p.additional {
      width: 90%;
    }
  }
}

.btn-red {
  background-color: red !important;
  color: white;
}
