.product-details{
    width: 70%;
    margin: auto;
    display: flex;
    
    .details-images{
    
    }
    .thumbnails{
        display: flex;
    
        img{
            height: 10.3vh;
            margin-inline: 1rem;
            outline: 1px solid black;
            margin-top: 1rem;
        }
    }
    .display-image{
        
        img{
            height: 45vh;
            outline: 1px solid black;
        }
    }
    .product-information{

        display: flex;
        flex-direction: column;
        gap: 3rem;
        
        h2{
            font-size: 5rem;
        }
        p{
            font-size: 3rem;
        }
        h3{
            font-size: 5rem;
        }
        .add-to-cart{
            display: flex;

            .btn-quantity{
                font-size: 3rem;
                width: 1.5vw;
                height: 1.5vw;
                outline: 1px solid rgb(159, 159, 159);
                border: none;
                cursor: pointer;
            }
            input{
                width: 2vw;
                border: none;
                outline: 1px solid rgb(159, 159, 159);
                font-size: 3rem;
            }
            .btn-add{
                font-size: 2.5rem;
                background-color: red;
                color: white;
                padding: 1rem 5rem;
                border: none;
                cursor: pointer;
            }
        }
    }
}
