.product-details{
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
    .details-images{
    
    }
    .thumbnails{
        display: flex;
    
        img{
            height: 8vh;
            margin-inline: 1rem;
            margin-top: 1rem;
            cursor: pointer;
        }
    }
    .display-image{
        
        img{
            height: 45vh;
        }
    }
    .product-information{

        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 45%;
        margin-left: 7rem;

        h2{
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: -2rem;
        }
        p{
            font-size: 1rem;
        }
        h3{
            font-size: 1.3rem;
        }
        hr{
            margin-block: -1.5rem;
            border: none;
            border-top: 2px solid rgb(226, 226, 226);
        }
        .wishlist{
            cursor: pointer;
            border: 1px solid rgb(220, 217, 217); 
            font-size: .9rem;
            width: 50%;
            padding: .4rem;
            background-color: white;
        }

        .colors{
            display: flex;
            gap: 1rem;

            .color{
                width: 1vw;
                height: 2vh;
                border-radius: 10rem;
                cursor: pointer;
            }
            .red{
                background-color: red;
            }
            .yellow{
                background-color: yellow;
            }
            .blue{
                background-color: rgb(124, 174, 243);
            }
            .black{
                background-color: black;
            }
        }
        .add-to-cart{
            display: flex;

            .btn-quantity{
                font-size: 1rem;
                width: 1.7vw;
                height: 1.8vw;
                outline: 1px solid rgb(220, 217, 217);
                border: none;
                background-color: white;
                cursor: pointer;
            }
            input::-webkit-inner-spin-button { 
                -webkit-appearance: none; 
            }
            input{
                appearance: none;
                width: 2vw;
                border: none;
                outline: 1px solid rgb(220, 217, 217);
                text-align: center;
            }
            .btn-add{
                margin-left: 1rem;
                background-color: red;
                color: white;
                padding: .6rem 1.5rem;
                padding-right: 1rem;
                max-height: 2.2rem;
                border: none;
                cursor: pointer;
                display: flex;
            }
            .cart-icon{
                font-size: 1.3rem;
                margin-inline: .3rem;
            }

        }
    }

    .description-buttons{
        margin-top: 4rem;

        button{
            font-size: .9rem;
            text-transform: uppercase;
            padding: .7rem 4.9rem;
            border: none;
            outline: 1px solid rgb(220, 217, 217);
            background-color: white;
            cursor: pointer;
        }
        .description-container{
            display: flex;
            height: 40vh;
        }
        h2{
            font-size: 1.2rem;
            margin-top: 5rem;
        }
        p{
            font-size: 1rem;
            margin-top: 3rem;
            width: 70%;
        }
        p.additional{
            width: 90%;
        }

    }

}

.btn-red{
    background-color: red !important;
    color: white;
}