.product-page {
  .products-list {
    display: grid;
    padding-bottom: 3rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .product {
    width: 300px;
    height: 300px;

    img {
      width: 300px;
    }
  }
}
