.register-page {
  .register-form {
    background-color: white;
    padding: 2rem;
    width: 600px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
      font-size: 1.5rem;
    }

    input {
      border: none;
      height: 3rem;
      width: 100%;
      background-color: rgb(234, 234, 234);
    }

    button {
      padding: 1rem;
      font-size: 1rem;
      width: 8rem;
      color: rgb(255, 255, 255);
      background-color: rgb(237, 76, 76);
      border: none;
    }
  }
}
